# =====================================================
# Python / Ambientes Virtuais
# =====================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

# =====================================================
# Jupyter / Data Science
# =====================================================
.ipynb_checkpoints/
.notebook/
# Artefatos locais gerados por Data Science (não versionar)
notebooks/individual/**/**/*.joblib

# =====================================================
# Dados do projeto (pipeline principal)
# =====================================================
data/raw/
data/external/
data/processed/

# =====================================================
# Dados gerados dentro dos notebooks (INDIVIDUAIS)
# Ignora qualquer data/ dentro de notebooks
# =====================================================
notebooks/**/data/
notebooks/**/data/external/
notebooks/**/data/processed/

# =====================================================
# Artefatos de modelo / outputs
# =====================================================
artifacts/*
!artifacts/churn_model.joblib

# =====================================================
# Logs / Temporários
# =====================================================
*.log
*.tmp
*.bak

# =====================================================
# Sistemas Operacionais
# =====================================================
.DS_Store
Thumbs.db

# =====================================================
# IDEs / Editores
# =====================================================
.vscode/
.idea/

# =====================================================
# Docker
# =====================================================
docker-compose.override.yml

# =====================================================
# Variáveis de ambiente / segredos
# =====================================================
.env
.env.*
# =====================================================
# Java / Maven (Adicionado para o Back-end)
# =====================================================
**/target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.properties
.classpath
.project
.settings/
*.iml
# =====================================================
# Infraestrutura OCI / Terraform (NÃO SUBIR)
# =====================================================
infra_oci/
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.pem